<style>

</style>

<div class="flex m-0 p-0">
    <!--Side Bar-->
    <!--Pantalla md-->
    <div class="h-screen absolute md:relative z-1 md:z-0 bg-dark" [ngClass]="{'col-7 md:col-3 block': navBarMD, 'hidden': !navBarMD}">
      <div class="flex md:hidden justify-content-end">
        <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded col-12 text-white p-button-text" (click)="ToggleSideBar()"></button>
      </div>
      <div class="flex justify-content-center mt-0 md:m-3">
        <div class="m-2 p-3 text-center">
          <p-avatar [label]="user.username.charAt(0) | uppercase" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
          <h5 class="text-white">{{ user.username }}</h5>
          <h6 class="text-white">{{ user.email }}</h6>
        </div>
      </div>
      <div class="py-1 bg-white w-100"></div>
    </div>
    <!--Pantalla sm-->
    <!-- <p-sidebar [(visible)]="navBarSM">
    Content
  </p-sidebar> -->

    <!--Content-->
    <div class="col-12 md:col-12 m-0 p-0 h-screen overflow-y-scroll" [ngClass]="{'md:col-9': navBarMD, 'md:col-12': !navBarMD}">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark px-4 m-0 ">
            <button pButton pRipple type="button" icon="pi pi-bars" class="p-button-rounded text-white p-button-text" (click)="ToggleSideBar()"></button>
            <h1 class="ml-0 md:ml-1 text-white">YMGallery</h1>
            <div class="ml-auto" id="">
                <ul class="navbar-nav flex flex-row justify-content-around me-auto mt-2 mt-lg-0">
                    <li class="nav-item active mx-1">
                        <button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded text-white p-button-text"></button>
                    </li>
                    <li class="nav-item mx-1">
                        <button pButton pRipple type="button" icon="pi pi-sign-out" (click)="auth.logOut()" class="p-button-rounded text-white p-button-text"></button>
                    </li>
                </ul>
            </div>
        </nav>

        <!--Content-->
        <app-dashboard></app-dashboard>


    </div>
    <!--Nav Bar-->


</div>
