<div class="flex justify-content-center mt-8">
  <p-card [style]="{'width': '25em'}" class="shadow my-auto border-600 border-round-md">

    <div class="card-container">
        <h2 class="text-center">YMGallery Admin</h2>
        <form class="m-2 grid justify-content-center" [formGroup]="loginForm">
          <div class=" field col-10 mt-2">
            <span class="p-float-label">
              <input id="float-email" type="text" pInputText name="username" formControlName="username" class="w-100">
              <label for="float-email">Email</label>
            </span>
            <div class="errors-container m-0" *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty)">
              <p class="error-msg text-danger" *ngIf="emailControl.hasError('required')">El campo es obligatorio</p>
              <p class="error-msg text-danger" *ngIf="emailControl.hasError('email')">El campo debe ser un email valido</p>
            </div>
          </div>
          <div class="field col-10 mt-0">
            <span class="p-float-label">
              <input id="float-password" type="password" pInputText name="password" formControlName="password" class="w-100">
              <label for="float-password">Password</label>
            </span>
            <div class="errors-container" *ngIf="passwordControl.invalid && (passwordControl.touched || passwordControl.dirty)">
              <p class="error-msg text-danger" *ngIf="passwordControl.hasError('required')">El campo es obligatorio</p>
            </div>
          </div>
            <button pButton type="submit" class="m-2 w-10rem text-center" label="Sign in" icon="pi pi-sign-in" iconPos="right" t style="background-color: #4F5057; border-color:#4F5057" [disabled]="(loginForm.statusChanges|async)!== 'VALID'" (click)="signIn()"></button>
        </form>
    </div>
</p-card>
</div>


<!--{{loginForm.status}}
<pre>{{loginForm.value | json}}</pre>-->
